.row .add-btn {
    max-width: 200px;
    margin: 4px auto 12px;
    border-style: dashed;
    line-break: auto;
    border-radius: 4px;
    text-align: center;
}

.delete-trash-can {
    position: relative;
    left: 85.5%;
    top: -20px;
}