@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

ul.navbar-nav {
    margin-left: 10%;
}


img, br {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.add-recipe-body {
    background-image: url('../assets/img/background.jpg');
    min-height: 712px;
    height: 100%;
    width: calc( 100% + 12px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.errmsg {
    color: red;
}
.width-80 {
    width: 80%;
}

.card-header.row {
    margin-left: 0;
    margin-right: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 2px -2px gray;
    top: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    height: 5%;
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }

  body{
    background: #d1d5db;
}

body::-webkit-scrollbar {
    display: none;
  }


.height{
    height: 10vh;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.delete-input{
    padding-left: 7px;
    cursor: pointer;
}

.delete-input i{  
   padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.logo_area .app-logo {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
    display: inline-block;
    color: #232d37;
    text-decoration: none;
}

.navbar.navbar-expand-lg {
    padding: 0;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 30px;
    color: #232d37;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
    color: #fc6c3f;
}

.add-list-input.choose-list {
    min-width: 200px;
    list-style: none;
    top: 25%;
    left: 45%;
    right: 55%;
}

.add-list-input.choose-list li {
    cursor: pointer;
}